// // COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #2a4158;
$secondary-color: #8c9ea3;

$white-color: #eef5f8;

$dark-grey: #22272c;

$dark-blue-text: #2a4158; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
